<div id="comment{{id}}">
  <div class="commentsContainer container">
    <div class="row">
      <div class="col-sm post-comment">
        <p>{{comment}}</p>
      </div>
      <div class="col-sm">
        <p>{{user.username}} {{format_time createdAt}}</p>
      </div>
    </div>
  </div>
</div>