<div class="col-sm">
  <a id="projects{{id}}" class="user-projects" href="/dashboard/projects/{{id}}">
    <div>
      <div class="row user-project">
        <div class="col-sm contained">
          <h2>{{title}}</h2>
        </div>
        <div class="col-sm contained">
          <h2>{{format_time createdAt}}</h2>
        </div>
      </div>
    </div>
  </a>
</div>