<div class="container-robot">
    <img id="bot" src="./images/bot.png" height="100px" width="100px" alt="">
    <div id="body">
        <p class="bot"><strong>MedBot:</strong> Hello, I'm MedBot. I'll help you around the site!</p>
        <p class="bot">We can have a chat or you can choose from the following options;</p>
    </div>
    <form id="chat" action="">
        <input id="query" type="text">
        <button id="submit" type="submit" style="display: none;">Query Bot</button>
    </form>
</div>

<script src="/js/bot.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>