<h2 class="edit">Edit</h2>
<section id="updateProject{{id}}" class="single-projects" data-username="none">
    <div class="user-project-single">
        <label for="projectTitle">Title</label>
        <input type="text" id="projectTitle" name="projectTitle" value="{{title}}">
        <label for="projectText">Description</label>
        <input type="text" id="projectText" name="projectText" value="{{description}}">
        <button id="update" type="submit">Update Project</button>
        <button id="delete" type="submit">Delete Project</button>
    </div>
</section>

<script src="/js/projectUpdate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

